{% extends "layouts/base.html" %}

{% block title %}{% if region_description is defined %}: {{region_description}}{% endif %}{% endblock %}

{% block body %}
    <form>
        <div class="row">
            <div class="small-12 columns">
                <h2>Events &#x2192; Thoughts &#x2192; Feelings &#x2192; Actions</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 columns">
                <label>What happened?
                    <textarea class="log-textarea" name="event" id="event" required></textarea>
                </label>
            </div>
            <div class="small-12 large-6 columns">
                <label>What did I tell myself?
                    <textarea class="log-textarea" name="thoughts" id="thoughts" required></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 columns">
                <label>How did I feel?
                    <textarea class="log-textarea" name="feelings" id="feelings" required></textarea>
                </label>
            </div>
            <div class="small-12 large-6 columns">
                <label>What did I do?
                    <textarea class="log-textarea" name="behaviors" id="behaviors" required></textarea>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h2>Challenge your thinking</h2>
            </div>
        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                <label>Are my thoughts accurate?
                    <input type="text" class="log-text" name="thoughts-accurate" id="thoughts-accurate" required>
                </label>
            </div>

            <div class="small-12 large-6 columns">
                <label>Are my thoughts helpful?
                    <input type="text" class="log-text" name="thoughts-accurate" id="thoughts-accurate" required>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <label>Did I make a thinking mistake?
                    <select name="thinking-mistake" required>
                        <option value="no">Nope</option>
                        {% for tm in thinking_mistakes %}
                            <option value="{{tm.value}}">{{tm.label}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 large-6 columns">
                <label>What could I say to myself that would be more accurate/positive/helpful?
                    <input type="text" class="log-text" name="say-to-self" id="say-to-self" required>
                </label>
            </div>

            <div class="small-12 large-6 columns end">
                <label>How would I feel if I told myself this?
                    <input type="text" class="log-text" name="how-feel" id="how-feel" required>
                </label>
            </div>
        </div>


        <div class="row">
            <div class="small-12 columns end">
                <input class="button right" type="submit" value="Save">
            </div>
        </div>
    </form>

{% endblock %}