<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CBT Tool {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{siteUrl('/foundation/css/foundation.css')}}" />
        <link rel="stylesheet" href="{{siteUrl('/css/app.css')}}" />
        <script src="{{siteUrl('/foundation/js/vendor/modernizr.js')}}"></script>
    </head>
    <body>

        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{siteUrl('/')}}">CBT Tool</a></h1>
                </li>
                 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="active"><a href="https://github.com/funkatron/CBTTool">View on GitHub</a></li>
                </ul>
            </section>
        </nav>

        {% block body %}
        {% endblock %}

        <script src="{{siteUrl('/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{siteUrl('/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
